#!/bin/sh
# SLACK
export HUBOT_SLACK_TOKEN=""

# PLUGINS
export WORDNIK_API_KEY=""
export HUBOT_TELL_RELATIVE_TIME=true
export WOTD_PROVIDER=wordnik
#export LIVESTREAM_BROADCAST_ROOM="#random"
export MUMBLE_BROADCAST_ROOM="#general"

# AUTH
export HUBOT_AUTH_ADMIN="Derimagia"
